@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: url(Image/Background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    gap: 20px;
}

.weatherContainer{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.search-box{
    position: relative;
    width: 100%;
    gap: 90px;
    padding: 14px 6px 24px 6px ;    
    /* background-color: blue; */
}


input{
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f3f3f3;
    color: black;
    border: none;
    outline: none;
    border-radius: 1000px;
}

.weatherInfo{
    color: #212121;
    padding: 4px 8px 4px 8px;   
 /* background-color: brown; */
}

.current-weather{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location{
    display: flex;
    align-items: center;
    gap: 6px;
}

.weatherSummary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px 14px 20px;
    /* background-color: rgb(9, 163, 32); */
    color: #212121;
    border-top: rgb(197, 196, 196) solid 2px;
    /* border-bottom: rgb(197, 196, 196) solid 2px; */
}

img{
    width: 110px;
    height: 110px;
}

.weatherCondition{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    /* background-color: rgb(210, 67, 198); */
    color: #212121;
}

.weatherCondition .humidity{
    width: 110px;
    padding: 12px;
    background-color: aliceblue;
    border-radius: 8px;
}

.weatherCondition .wind{
    width: 110px;
    padding: 12px;
    background-color: aliceblue;
    border-radius: 8px;
}

.weatherCondition .temp{
    width: 110px;
    padding: 12px;
    background-color: aliceblue;
    border-radius: 8px;
}

.condition-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.forecast-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecastContainer{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.dailyWeather{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.forecastContent{
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: rgb(197, 196, 196) solid 2px;
}

.forecastContent2{
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: rgb(197, 196, 196) solid 2px;
}

.forecastContent3{
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: rgb(197, 196, 196) solid 2px;
}

.forecastContent4{
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: rgb(197, 196, 196) solid 2px;
}

.forecastContent5{
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: rgb(197, 196, 196) solid 2px;
}

.forecastContent6{
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: rgb(197, 196, 196) solid 2px;
}

.forecastContent7{
    padding-top: 8px;
    padding-bottom: 10px;
}






